<!-- <h1>Products#new</h1>
<p>Find me in app/views/products/new.html.erb</p> -->

<h1>Add a Product</h1>
<%= link_to "Back to Products", products_url %>

<%= form_for @product do |p| %>
  <p>
    <%= f.label :product %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :product %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>



